<h1> Nearest Station </h1>

<section class="station_info">
  <p>Name: <%=@nearest_station.name%></p>
  <p>Address: <%=@nearest_station.address%></p>
  <p>Fuel Type: <%=@nearest_station.fuel_type%></p>
  <p>Access Time: <%=@nearest_station.access_time%></p>
</section>