---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?fuel_type=ELEC&location=Griffin%20Coffee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 16 Apr 2023 00:47:13 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '963'
      X-Vcap-Request-Id:
      - 7702fc65-29d6-4e2f-6149-3083e4813915
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":26.06349,"longitude":-80.29479,"location_country":"US","precision":{"value":9,"name":"premise","types":["premise"]},"station_locator_url":"https://afdc.energy.gov/stations/","total_results":55,"station_counts":{"total":150,"fuels":{"BD":{"total":0},"E85":{"total":0},"ELEC":{"total":150,"stations":{"total":55}},"HY":{"total":0},"LNG":{"total":0},"CNG":{"total":0},"LPG":{"total":0},"RD":{"total":0}}},"offset":0,"fuel_stations":[{"access_code":"public","access_days_time":null,"access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2023-04-15","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":153085,"open_date":"2020-01-28","owner_type_code":null,"status_code":"E","restricted_access":null,"station_name":"Walmart
        - Marketplace, Pine Island","station_phone":"888-998-2546","updated_at":"2023-04-15T23:59:14Z","facility_type":null,"geocode_status":"GPS","latitude":26.043528,"longitude":-80.258975,"city":"Hollywood","intersection_directions":"Charger
        #630 under repair.||","plus4":null,"state":"FL","street_address":"4000 NW
        88th Ave","zip":"33024","country":"US","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"cng_has_rng":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"Blink
        Network","ev_network_web":"http://www.blinkcharging.com/","ev_other_evse":null,"ev_pricing":"Free","ev_renewable_source":null,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lng_has_rng":null,"lpg_primary":null,"lpg_nozzle_types":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"rd_blends":null,"rd_blends_fr":null,"rd_blended_with_biodiesel":null,"rd_max_biodiesel_level":null,"nps_unit_name":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"Public","ev_pricing_fr":null,"ev_network_ids":{"station":["465ba1dd-d734-8158-93cc-330000493685"],"posts":["465ba1dd-d734-8158-93cc-330000690835","465ba1dd-d734-8158-93cc-330000690890"]},"distance":2.6169,"distance_km":4.21149},{"access_code":"public","access_days_time":null,"access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2023-04-16","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":217346,"open_date":"2020-12-07","owner_type_code":null,"status_code":"E","restricted_access":null,"station_name":"Colonnade
        Building","station_phone":"800-663-5633","updated_at":"2023-04-16T00:02:14Z","facility_type":null,"geocode_status":"GPS","latitude":26.06314,"l[...]
